body {
    font: 24px Baskerville;
    background: -webkit-linear-gradient(#8436AD, #672A89);
    background: -o-linear-gradient(#8436AD, #672A89);
    background: -moz-linear-gradient(#8436AD, #672A89);
    background: linear-gradient(#8436AD, #672A89);
    margin: 0px 0px 0px 0px;
}
/*####################################*/
/* General*/
/*####################################*/
.center{
    margin-left: auto;
    margin-right: auto;
    width: 950px; /*TODO change this*/
}


/*####################################*/
/* Navbar*/
/*####################################*/
#headerTitle{
    color: white;
    font: 34px Baskerville;
    padding-top: 6px;
    /*text-shadow: 2px 1px 5px black;*/
    text-shadow: 2px 2px #555151;
}
#slogan{
    font: 12px Baskerville;
    font-style: italic;
    font-weight: bold;
    color: white;

    padding: 4px;
    border-radius: 7px;
    border: 1px solid;
    border-color: rgba(255,255,255,.3);

    background: -webkit-linear-gradient(left,rgba(255,255,255,.1),rgba(255,255,255,.5),rgba(255,255,255,.1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,.1),rgba(255,255,255,.5),rgba(255,255,255,.1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,.1),rgba(255,255,255,.5),rgba(255,255,255,.1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,.1), rgba(255,255,255,.5),rgba(255,255,255,.1)); /*Standard*/

    display: inline-block; /*Make it only as big as content*/

    /*word-spacing: 2px;*/
    letter-spacing: .3px;

}
#headerTitle,
#slogan{
    /*margin-left: 90px;*/
}
header{
    display: block;
    position: relative;
    min-height: 130px;
}
#goldNavBar{
    background-image:url('../img/navGrad.png');
    background-repeat:repeat-x;
    height: 40px;
    /*margin-top: 60px;*/
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0px;
    box-shadow: 0px 1px 5px black;
}
#navText{
    font: 18px Baskerville;
    text-shadow: .5px .5px rgba(255,255,255,.5);
}
#navText ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navText li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 120px;
    height: 97%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color: #484848;
}
#navText li:hover{
    cursor:pointer;
    background-color: purple;

    background: #9d5ac1; /* Old browsers */
    background: -moz-linear-gradient(top,  #9d5ac1 0%, #7f35a8 50%, #9d5ac1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9d5ac1), color-stop(50%,#7f35a8), color-stop(100%,#9d5ac1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9d5ac1 0%,#7f35a8 50%,#9d5ac1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9d5ac1 0%,#7f35a8 50%,#9d5ac1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9d5ac1 0%,#7f35a8 50%,#9d5ac1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9d5ac1 0%,#7f35a8 50%,#9d5ac1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d5ac1', endColorstr='#9d5ac1',GradientType=0 ); /* IE6-9 */

    text-shadow: 2px 2px #555151;
    color: white;

}
/*####################################*/
/* Content*/
/*####################################*/


#main {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 475px;
    display: -webkit-flex;
    display:         -webkit-box;
    display:         -ms-flexbox;
    display:         flex;
    -webkit-flex-flow: row;
            -ms-flex-flow: row;
            flex-flow: row;
    background: -webkit-linear-gradient(#F4EDD1, #FFFFFF, #F4EDD1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F4EDD1, #FFFFFF, #F4EDD1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F4EDD1, #FFFFFF, #F4EDD1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F4EDD1, #FFFFFF, #F4EDD1); /* Standard syntax */

    -webkit-flex: 3 1 60%;
                -webkit-box-flex: 3;
            -ms-flex: 3 1 60%;
            flex: 3 1 60%;
    -webkit-order: 2;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;

}


footer{
    display: block;
    min-height: 130px;

}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {

    #main, #page {
     -webkit-flex-flow: column;
             -ms-flex-flow: column;
             flex-flow: column;
    }

    #main > article, #main > nav{
     /* Return them to document order */
     -webkit-order: 0;
             -webkit-box-ordinal-group: 1;
             -ms-flex-order: 0;
             order: 0;
    }

    #main > nav, #main > header, footer {
     min-height: 50px;
     max-height: 50}
}
/*####################################*/
/* FOOTER */
/*####################################*/

#socialmedia div{
    margin-top: 15px;
    margin-left: 10px;
    float: right;
}
#socialmedia div{
    width: 50px;
    height: 50px;
    background-color: #FABC1D;
    background-size: 100%;
}
#socialmedia div:hover{
    background-color: #FABC1D;
    background-size: 100%;
}
#facebook{
    background: url('../img/facebookClear.png');
}
#twitter{
    background: url('../img/twitterClear.png');
}
#linkedin{
    background: url('../img/linkedinClear.gif');
}
#facebook:hover{
    background: url('../img/facebookPurple.png');
}
#twitter:hover{
    background: url('../img/twitterPurple.png');
}
#linkedin:hover{
    background: url('../img/linkedinPurple.png');
}
/*TODO: figure out how to do this with css instaead of new images*/